@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F0F4EF ;
}
.main{
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    min-width: 330px;
    position: relative ;
}
.input-box{
    display: flex;
    align-items: center;
}
.input-box input{
    height: 35px;
    width: 100%;
    position: relative;
    padding: 20px 15px;
}
.input-box i{
    position: absolute;
    right: 30px;
}
.statusBox{
    margin-top: 20px;
    padding: 1px;
    width: 100%;
}
.message{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.rules{
    font-size: 13px;
    margin-top: 15px;
}
#rule{
    line-height: 20px;
    margin-bottom: 2px;
}
.head{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.head i{
    font-size: 30px;
}