@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.Wrapper{
height: 100vh;
width: 100vw;
border: 2px solid black;
background-color:#E6D8C3 ;
display: flex;
align-items:flex-start;
justify-content: center;
}
.mainArea{
  flex: 1;
  margin-top: 50px;
  max-width: 350px;
  background-color: #f5f5f0;
  border-radius: 10px;
  padding: 30px 20px;
 box-shadow: 0 8px 1px rgba(0, 0, 0, 0.1);
}
.logo h1{
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}
.buttonBox{
  position: relative;
  margin-top: 10px;
  border: 1px solid;
  background-color:#fff5f0;
  border-radius: 15px;
}
.buttonBox .text,
.buttonBox .addTask {
  outline: none;
  border: none;
}

.buttonBox .text:focus,
.buttonBox .addTask:focus {
  outline: none;
  box-shadow: none;
}

.buttonBox .text{
  outline: none;
  background: transparent;
  padding: 7px 10px;
  width: 100%;
  border-radius: 15px;
  font-size: 12px;
}
.buttonBox .addTask{
  /* flex: 1; */
  background-color: #F25912;
  color: #fff;
  outline: none;
  padding: 6px 25px;
 position: absolute;
 right: 0px;
 top: 0px;
 border-radius: 20px 18px 18px 20px;
 /* border-radius: 15px; */
 cursor: pointer;
}
ul{
  margin-top: 15px;
  /* position: relative; */
}
li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  position: relative;
}
li .left{
  gap: 10px;
}
li .left,.right{
  display: flex;
  align-items: center;
  justify-content: center;
}
li .left .checked{
position: absolute;
left: 0px;
}
.checked{
  visibility: hidden;
}
.addTask:hover{
  opacity: 2;
}
