*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
@property --degree{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box{
    overflow: hidden;
    width: 200px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: white;
    border: 0px solid black;
    border-radius: 25px;
    padding-inline: 10px;
    padding-bottom: 10px;
}
.box:hover{
    margin: 5px;
    border: 5px solid transparent;
    background:
    linear-gradient(black) padding-box,
    conic-gradient(from var(--degree),black,yellow,black)border-box
    ;
    animation: rotateDegree 2s linear infinite;
    border: 5px solid transparent;
    transition: all 0.4s linear;
    color: yellow;
    box-shadow: 0px 0px 50px yellow;
    text-shadow: 2px 2px 8px yellow;
}
.img2{
    display: none;
}
.box:has(:hover) .img1{
    transition: none;
    display: none;
}
.box:has(:hover) .img2{
    transition: none;
    display: block;
} 
@keyframes rotateDegree{
    from{
        --degree:0deg;
    }
    to{
        --degree:360deg;
    }
}

.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text h1{
    font-size: 25px;
}
.text p{
    font-size: 12px;
}
img{
    height: 190px;
    width: 190px; 
    object-fit:cover;
    /* visibility: hidden;  */
}