@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
*{
  font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary: #66101F;
  --secondary: #855A5C;
  --neutral: #8A8E91;
  --light-bg: #B8D4E3;
  --highlight: #EEFFDB;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: var(--light-bg);
    /* color: var(--neutral); */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* <i class='bxr  bx-swap-horizontal'  style='color:#040404'  ></i>  */
.main{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color:#fff;
     */
     background-color: #6b9ec5;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px 10px rgba(0, 0, 0, 0.2);
    min-width:325px;
    padding: 20px 10px 20px 10px;
}
.main h1{
    font-size: 1.5rem;
    /* text-align: center; */
}
.main .input-box{
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
}
.main .input-box span{
    font-size: 0.8em;
}
.main .input-box input{
    height: 35px;
    width: 100%;
    background: var(--light-bg);
    padding-left: 10px;
}
.main .input-box input::placeholder{
    font-weight: 400;
    color: black;
}
.Cchanger{
    display: flex;
    width: 100%;
    /* background-color: rebeccapurple; */
    align-items: center;
    justify-content: space-around;
}
.from,.to{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
}
.from-box,.to-box{
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid ; */
}
button{
    /* height: 30px; */
    width: 100%;
    /* background-color: #66101F; */
    background: var(--light-bg);
    padding: 7px;
    margin-top: 10px;
    border-radius: 8px;
}
select{
    color:black;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
.arrow i{
    font-size: 24px;
}