
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: antiquewhite;
}
:root{
    --to:0deg;
    --color:antiquewhite;
}
.box{
    visibility:hidden;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 2px solid transparent;
    transition: all 0.5s linear;
    background: 
      linear-gradient(black) padding-box,
      conic-gradient(from 0deg,var(--color) 0deg var(--to),black var(--to) 360deg) border-box;
}

button{
    background-color: antiquewhite;
    color: black;
    font-family: Poppins;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.5s linear;
    transition:  background-color 0.4s linear;
    transition: width 0.3s linear;
    /* background-color: rgb(155, 228, 155); */
}
button:active{
    transform: scale(0.95);
}
.box i{
    font-size: 24px;
    animation: up-down 1s linear infinite forwards;
    animation-play-state: paused;
}

@keyframes up-down{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(2.5px);
    }
    
}